@if (Session["EmployeeID"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Login", "Login", "Employee", null, null)
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi!" + Session["Username"], "Index", "Employee", null, null)
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Employee", null, null)
        </li>
    </ul>
}

